extends layout

block content
  .starter-template(class='text-center')
    h1 Welcome!
    p.lead
      | This document utilizes Express, Jade & Bootstrap to present how quickly a website can be created.
      br
      |  So, enjoy yourself here.
