doctype html
head
  title Simple Express App
  // Bootstrap core CSS
  link(href='/stylesheets/bootstrap.css', rel='stylesheet')
nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  a.navbar-brand(href='/') Simple Express App
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarsExampleDefault.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/')
          | Home
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/about') About
      li.nav-item
        a.nav-link(href='/contact') Contact Me

main(role='main')
.container
    block content
hr

footer.container
  p(class='text-center') © Made in 2017
